* {
    font-family: 'Montserrat Alternates', sans-serif;
}

:root {
    --main : #4b00d7;
    --sec :  #fa4c50;
    --gray :  #6b747b;
    --light-gray: #f5f5f5;

}

.lgradient {
    background: linear-gradient(to right, var(--main), var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#p-navbar {
    background-color: transparent ;
    transition: all 0.5s;
    padding-top: 40px;
}

#p-navbar.active {
    background-color: black !important ;
    padding-top: 8px;
}

.p-navbar .nav-link {
    color:white;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 20px !important;
    transition: all 0.5s;
}

.p-navbar .nav-link:hover {
    background: linear-gradient(to right, var(--main), var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    background-color: white;
    /* height: 2000px; */
}

.cust-header {
    background: linear-gradient(rgb(34, 34, 34, 0.5), rgb(34, 34, 34, 0.5)), url('./media/header.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
        background-size: cover;
    
    
}

@keyframes animazioneleft {
    0% {left: -500px;}
    100% {left:0px;}
    
}

.animation {
    position: relative;
    animation: animazioneleft 2s 1;
}

.title {
    color: white;
    font-size: 90px;
    
}

@media screen and (max-width : 700px) {
    .cust-header {
        background: linear-gradient(rgb(34, 34, 34, 0.5), rgb(34, 34, 34, 0.5)), url('./media/header-mobile.jpg');
        background-position: center 10%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title {
        font-size: 40px;
    }
    
}

.navbar-toggler {
    transition: 1s;
    color: white;
}

.c-button {
    padding:10px ;
    border:1px solid var(--main);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    background:linear-gradient(to right, var(--main), var(--sec));
    position: relative;
    animation: animazioneleft 2.2s 1;
}

.c-button:hover {
    
    border:1px solid var(--main);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom {
    
    transform:skew(2deg);
  
        
    
}


.bg-custom {
    background:linear-gradient(to right, var(--main), var(--sec));
    border-radius: 20px;
    position: relative;
    top: -150px;
}

@media screen and (max-width: 850px) {
    .bg-custom {
        top: px;
    }
    
}
.title-line {
    position: relative;
}

.title-line::before {
    content: '';
    width: 300px;
    height: 3px;
    display: block;
    position: absolute;
    background: linear-gradient(to right, var(--main), var(--sec));
    bottom: -10px;
    left: calc(50% - 150px);
}

.cat-card {
    border: 1px solid var(--main);
    border-radius: 20px;
    background: linear-gradient(to right, var(--main), var(--sec) 300%);
}

.btn-white {
    width: 200px;
    padding:10px ;
    border:1px solid var(--main);
    color: var(--main);
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    transition:all 1s;
}

.btn-white:hover {
    
    border:1px solid var(--main);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.pos-category {
    position: relative;
    top: -100px
}

.glide__arrow {
    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--main);
    padding: 20px;
    color: var(--main);
    
}

.glide__arrow:hover {
    background: linear-gradient(to right, var(--main), var(--sec));
    transition: all 1s;
    color: white;
    
}

.glide__arrow--right {
    right:-50px
}

.glide__arrow--left {
    left: -50px
}

@media screen and (max-width : 700px) {
    .glide__arrow--right {
        opacity: 0;
        right:0px
    }
    
    .glide__arrow--left {
        opacity: 0;
        left: 0px
    }
    
}






























.bg-footer {
    background: linear-gradient(rgb(34, 34, 34, 0.5), rgb(34, 34, 34, 0.5)), url('/media/brooke-cagle--uHVRvDr7pg-unsplash.jpg');
        background-position: center 20%;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 2px solid var(--main);
}