.accordion-item {
    border : 2px solid var(--main);
    
}

.accordion-button:not(.collapsed){
    background:linear-gradient(to right, var(--main), var(--sec));
    color: white;
    transition: all 1s;
}

.accordion-button:focus {
    box-shadow: 0 0 0 2px var(--main);
    
}

.tool {
    margin-bottom: -10px !important;
}

.tool .toolhover {
    position: absolute;
    opacity: 0;
    top:-15px;
    right:-60px;
    background-color: black;
    border-radius: 30px;
    padding: 5px;
    font-size: 12px;
}

.tool:hover .toolhover {
    opacity: 1;
    transition: 0.5s;
}

.animationfiltri {
    position: relative;
    animation: animazioneleft 2.2s 1;
}
